@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* SOLUTION */

/* * {
  border: 2px dashed red;
} */

body {
  display: flex;
  flex-direction: column;
}

button {
  padding: 8px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex: 0;
  padding: 0 16px;
}

.left-links,
.right-links {
  display: flex;
  gap: 16px;
}

.left-links {
  margin-right: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.footer {
  display: flex;
  flex: 0;
  padding: 0 16px;
  background-color: #eeeeee;
}